<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notepad.Properties.UISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BlocNotes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Notepad.Properties.UISettings>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Notepad.Properties.UISettings>
        <Notepad.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 20.25pt</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>False</value>
            </setting>
        </Notepad.Properties.Settings>
        <BlocNotes.Properties.Settings>
            <setting name="Police" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="RetourLigne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TailleForm" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BarreEtat" serializeAs="String">
                <value>False</value>
            </setting>
        </BlocNotes.Properties.Settings>
    </userSettings>
</configuration>